.Icons {
  width: 400px;
  height: 55px;
  position: absolute;
  bottom: -50%;
  left: -90%;
}

.Icon {
  font-size: 10px;
  font-size: 30px;
  margin-left: 80px;
  color: #fff;
}

.Icon:hover {
  color: #ff4046;
}
