.ContactBox {
  left: 50%;
  bottom: -75px;
  position: relative;
  width: 500px;
  height: 600px;
  padding: 15px;
  box-sizing: border-box;
}

.ContactQuestion {
  font-family: 'Indie Flower', cursive;
  color: #f7a900;
  font-size: 48px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.TextFields {
  display: grid;
  width: 560px;
  height: auto;
}

.InputElement {
  margin: 20px 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  font: inherit;
  padding: 5px 5px;
  display: block;
  width: 100%;
  border: none;
  cursor: text;
  border: 1px solid #f9cf75;
  height: 55px;
  position: relative;
  color: #f7a900;
}

.TextElement {
  height: 100px;
}

.InputElement::placeholder {
  color: #f9cf75;
  font-size: 14px;
}

.InputElement:focus {
  outline: none;
  background-color: #000;
}

.Error {
  color: #ff4046;
  font-size: 10px;
  position: absolute;
  margin-top: -16px;
}

.ContactBtn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  width: 472px;
  height: 55px;
  cursor: pointer;
}

.ContactBtn:hover {
  box-shadow: 0px 0px 0px 4px #eee inset;
}

.Effect {
  color: #f7a900;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.Effect:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

.Effect:hover span {
  letter-spacing: 0.13em;
  color: #000;
}

.Effect:after {
  background: #fff;
  border: 0px solid #000;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}

.Effect:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

@media (max-width: 499px) {
  .ContactBox {
    width: 300px;
    height: 400px;
    left: 0;
    bottom: -300px;
    margin: auto;
  }

  .InputElement {
    height: 40px;
    font-size: 10px;
  }

  .InputElement::placeholder {
    color: #f9cf75;
    font-size: 10px;
  }

  .ContactQuestion {
    font-size: 25px;
  }

  .ContactText {
    width: 270px;
    height: auto;
    font-size: 18px;
    padding: 20px;
    margin: 93px auto;
    font-size: 18px;
  }

  .ContactBtn {
    width: 270px;
    font-size: 12px;
  }
}

.err {
  color: red;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin-top: -13px;
}

.message {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 35px;
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .ContactBox {
    left: 160px;
    bottom: -237px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 770px) {
  .ContactBox {
    left: 273px;
    bottom: -435px;
  }
}
