.HamburgerIcon {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  cursor: pointer;
}

.HamburgerIcon::before,
.HamburgerIcon::after,
.HamburgerIcon div {
  background: #fff;
  content: '';
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.HamburgerIcon:hover::before {
  transform: translateY(12px) rotate(135deg);
}
.HamburgerIcon:hover::after {
  transform: translateY(-12px) rotate(-135deg);
}
.HamburgerIcon div {
  transform: scale(0);
}

@media (min-width: 500px) {
  .HamburgerIcon {
    display: none;
  }
}
