@media (max-width: 499px) {
  .NavigationItem {
    margin: 20px 0;
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .NavigationItem a {
    color: #181617;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #181617;
  }
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0 20px;
    display: flex;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: #181617;
    height: 100%;
    padding: 10px 20px;
    font-weight: bold;
    transition-duration: 0.5s;

  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #ff4046;
  }
}
