.ContactBtn {
  border: none;
  width: 552px;
  height: 45px;
  background-color: #151515;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffbe2d;
  position: absolute;
  top: 72%;
  left: 50%;
}

.ContactBtn:hover {
  background-color: #ff4046;
}
