.About {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  z-index: 3;
  position: relative;
  margin: auto;
  top: 0;
}

.Container {
  margin: auto;
  max-width: 1300px;
  position: relative;
}

.AboutImg {
  display: block;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 40%;
  opacity: 0.5;
  position: absolute;
}

.AboutImg img {
  height: 100%;
  width: 100%;
}

.AboutHeader {
  position: absolute;
  letter-spacing: 1px;
  left: -19%;
  margin-top: 14%;
}

.AboutHeader h1 {
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 135px;
  color: rgb(253, 187, 45, 0.1);
}

.BoxText {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: absolute;
  left: 18%;
  width: 500px;
  height: 500px;
  margin-top: 8%;
  line-height: 30px;
  color: #ffbe2d;
}

.DownloadLink {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  left: 27%;
  margin-top: 50%;
  width: 200px;
  height: 23px;
  letter-spacing: 2px;

}

.DownloadLink a {
  color: #ff4046;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  transition-duration: 0.4s;

}
.DownloadLink a:hover {
  color: #ffbe2d;
}

.Line {
  width: 500px;
}

.Line hr {
  border: 1px solid #ff4046;
}
