.About {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d2228;
  max-width: 1300px;
  margin: auto;
}

.AboutImg {
  display: block;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 40%;
  opacity: 0.5;
  position: absolute;
}

.AboutImg img {
  height: 100%;
  width: 100%;
}

.AboutText {
  position: absolute;
  letter-spacing: 1px;
  left: -22%;
  bottom: 37%;
}

.AboutText h1 {
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 135px;
  color: rgb(253, 187, 45, 0.1);
}

.BoxText {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: absolute;
  left: 68%;
  width: 500px;
  height: 500px;
  bottom: -5%;
  line-height: 30px;
  color: #ffbe2d;
}

.DownloadLink {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  left: 27%;
  bottom: 20%;
  width: 200px;
  height: 23px;
  letter-spacing: 2px;
}

.DownloadLink a {
  color: #ff4046;
  text-decoration: none;
}
.DownloadLink a:hover {
  color: #ffbe2d;
}

.Line {
  width: 500px;
}

.Line hr {
  border: 1px solid #ff4046;
}
