.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfc1;
  position: relative;
  max-width: 1300px;
  margin: auto;
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.MainImage {
  position: relative;
  top: -43%;
  display: block;
  width: 100%;
}
.MainImage1 {
  position: absolute;
  top: 18%;
  display: block;
  width: 400px;
  right: 65%;
  border: 15px solid #8c6850;
}
