.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #ffbe2d;
  position: relative;
  max-width: 1300px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;

  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.MainImage {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  margin: 0;
}

.MainText {
  position: absolute;
  letter-spacing: 1px;
  border: 8px solid #ff4046;
  left: 25%;
  bottom: 43%;
  width: 323px;
}

.MainText h1 {
  font-size: 75px;
  line-height: 66px;
  color: #fff;
  position: relative;
  z-index: 80;
}

.MainText h5 {
  font-size: 30px;
  margin-top: -63px;
  color: #fff;
  position: relative;
  z-index: 80;
}

.BoxOne {
  margin-top: 311px;
  margin-left: 83px;
  width: 460px;
}

.BoxTwo {
  color: #fff;
  position: absolute;
  height: 510px;
  width: 400px;
  background-color: #ff404687;
  right: -130%;
  bottom: -57%;
  padding: 31px 61px;
  z-index: 1;
  font-size: 20px;
  line-height: 30px;
}

.BoxTwo p {
  margin-top: 66%;
}

.MainButton {
  position: absolute;
  left: 65%;
  top: 70%;
  color: #dcdfea;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background: transparent;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  border: none;
  transition: all 0.3s ease 0s;
  width: 180px;
  box-shadow: 0px 5px 105px 3px rgb(255, 179, 164, 0.57);
}

.MainButton:hover {
  text-shadow: 0px 0px 7px rgba(255, 179, 164, 1);
  box-shadow: 0px 5px 70px 3px rgba(255, 179, 164, 0.57);
  transition: all 0.4s ease 0s;
  border: none;
}

@media (max-width: 499px) {
  .MainText {
    width: 270px;
    left: auto;
    height: auto;
    top: 20%;
    margin: auto;
  }

  .MainImage {
    top: -43%;
  }

  .MainText h1 {
    font-size: 21px;
  }
  .MainText p {
    font-size: 13px;
  }

  .MainImage1 {
    display: none;
  }

  .MainSideText {
    display: none;
  }

  .MainButton {
    margin-top: 10%;
    left: auto;
  }
}
