.Home {
  height: 100vh;
  width: 100%;
  background-color: #fdb728;
  position: relative;
  margin: auto;
  z-index: 3;
  max-width: 1400px;
  font-family: 'Montserrat', sans-serif;

  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.MainImage {
  width: inherit;
}

.MainImage img {
  opacity: 0.6;
  height: fit-content;
  width: 100%;
}

.BgImage {
  position: absolute;
  top: -10%;
  left: -18%;
  width: inherit;
}

.BgImage img {
  height: 100%;
  width: 130%;
  opacity: 0.6;
}

.MainText {
  position: absolute;
  letter-spacing: 1px;
  border: 8px solid #ff4046;
  left: 25%;
  bottom: 43%;
  width: 323px;
}

.MainText h1 {
  font-size: 90px;
  line-height: 72px;
  color: #fff;
  position: relative;
  z-index: 80;
}

.Span {
  color: #1d2228;
}

.MainText h5 {
  font-size: 25px;
  margin-top: -63px;
  color: #fff;
  position: relative;
  z-index: 80;
  margin-left: 6px;
}

.BoxOne {
  margin-top: 287px;
  margin-left: 15px;
  width: 520px;
}

.BoxTwo {
  color: #fff;
  position: absolute;
  height: 490px;
  width: 460px;
  background-color: #ff404687;
  right: -130%;
  bottom: -57%;
  padding: 31px 40px;
  z-index: 1;
  font-size: 20px;
  line-height: 30px;
}

.BoxTwo p {
  margin-top: 66%;
  line-height: 40px;
}

.MainButton {
  position: absolute;
  left: 65%;
  top: 70%;
  color: #dcdfea;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background: transparent;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  border: none;
  transition: all 0.3s ease 0s;
  width: 180px;
  box-shadow: 0px 5px 105px 3px rgb(255, 179, 164, 0.57);
}

.MainButton:hover {
  text-shadow: 0px 0px 7px rgba(255, 179, 164, 1);
  box-shadow: 0px 5px 70px 3px rgba(255, 179, 164, 0.57);
  transition: all 0.4s ease 0s;
  border: none;
}

.Icons {
  width: 400px;
  height: 55px;
  position: absolute;
  bottom: -50%;
  left: -90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.5s;
}

.Icons a {
  transition-duration: 0.5s;
}

.Icons a:hover {
  color: #ff4046;
}

.ScrollButton {
  position: absolute;
  left: 480px;
  z-index: 40;
  bottom: -155px;
}

@media (max-width: 499px) {
}
