.Contact {
  height: 100vh;
  width: 100%;
  background-color: #ffbe2d;
  z-index: 3;
  position: relative;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

.Container {
  margin: auto;
  max-width: 1300px;
  position: relative;
}

.ContactImg {
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.ContactHeader {
  position: absolute;
  letter-spacing: 1px;
  left: -19%;
  bottom: 32%;
}

.ContactHeader h1 {
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 160px;
  color: rgb(21 21 21 / 38%);
}

.ContactText {
  position: absolute;
  bottom: 41%;
  color: #ffbe2d;
  padding: 0 46px;
  left: 15%;
  letter-spacing: 1px;
  width: 440px;
  height: 300px;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
}

.ContactBox {
  left: 50%;
  bottom: 22%;
  position: absolute;
  width: 500px;
  height: 700px;
  padding: 15px;
  box-sizing: border-box;
}

.ContactQuestion {
  font-family: 'Indie Flower', cursive;
  color: #151515;
  font-size: 48px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.TextFields {
  display: grid;
  width: 560px;
  height: auto;
}

.InputElement {
  margin: 10px 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  font: inherit;
  padding: 15px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #151515;
  overflow: hidden;
  height: 55px;
}

.InputElement::placeholder {
  color: #ffbe2d;
}

.InputElement:focus {
  outline: none;
  color: #ffbe2d;
}

.Error {
  color: red;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

.ContactBtn {
  border: none;
  width: 500px;
  height: 45px;
  background-color: #151515;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffbe2d;
  position: absolute;
  top: 109%;
  left: -4%;
}

.ContactBtn:hover {
  background-color: #ff4046;
}
