.Contact {
  height: 100vh;
  width: 100%;
  background-color: #ffbe2d;
  z-index: 3;
  position: relative;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

.Container {
  margin: auto;
  max-width: 1300px;
  position: relative;
}

.ContactImg {
  height: 100%;
  width: 100%;
}

.ContactHeader {
  position: absolute;
  letter-spacing: 1px;
  left: -19%;
  bottom: 31%;
}

.ContactHeader h1 {
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 160px;
  color: rgb(21 21 21 / 38%);
}

.ContactText {
  position: absolute;
  bottom: 41%;
  color: #ffbe2d;
  padding: 0 46px;
  left: 15%;
  letter-spacing: 1px;
  width: 440px;
  height: 300px;
  line-height: 90px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(21 21 21 / 68%);
}

.ContactBox {
  left: 53%;
  bottom: 35%;
  position: absolute;
}

.ContactQuestion {
  font-family: 'Indie Flower', cursive;
  color: #151515;
  font-size: 48px;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin: 20px 0;
  font-weight: bold;
}

.TextFields {
  display: grid;
  grid-template-areas:
    'name email'
    'subject phone'
    'message message';
  grid-gap: 40px;
  width: 560px;
  height: 300px;
}

.TextFields > input,
.TextFields > textarea {
  background-color: #151515;
}

.NameInput {
  grid-area: name;
}
.SubjectInput {
  grid-area: subject;
}

.PhoneInput {
  grid-area: phone;
}
.MessageInput {
  grid-area: message;
  height: 100px;
}

.TextInput {
  padding: 0.5rem 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #ffbe2d;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  color: #ffbe2d;
  border: none;
}

.ContactBtn {
  border: none;
  width: 100%;
  height: 45px;
  background-color: #151515;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffbe2d;
}

.ContactBtn:hover {
  background-color: #ff4046;
}
